/*GENERAL*/

/*Nécessaire pour que le footer soit en bas de la page*/
* {-moz-box-sizing: border-box; box-sizing: border-box;}

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    margin: 0;
    margin-top: 120px;
    padding: 0;
    padding-bottom: 69px;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header{
    background-color:#343a40;
    padding:15px 0px 15px 0px;
    opacity: 0.75;
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index: 1;
}

.img-fluid
{
    height:50px;
    -webkit-filter: invert(100%);
}

.align-right
{  
    float:right;
}

.divSiteTitre h1{
    margin: 7px 0 0 0;
    color: white;
    text-align: center;
    font-size: 2rem;
}

/*FOOTER*/
footer{
    width: 100%;
    background-color: #000;
    color : #fff;
    font-size: 16px;
    padding: 25px 0;
    text-align: center;
    position: absolute;
    bottom: 0; left: 0; right: 0 
}

footer p{
    margin: 0;
}

/*INDEX*/
.erreurAuthentification{
    text-align: center;
    color: red;
}

/*ADHERENT*/
.textNouvelAdherent{
    text-align: center;
    color: red;
}

.adherent{
    margin-bottom: 50px;
}

.adherentInfosBloc{
    border: 1px solid #E6E7E6;
    padding: 20px;
    border-radius: 10px;
}

.adherentInfos p{
    margin: 0;
}

.nomInfo{
    font-weight: bold;
}

.ligneInfo{
    margin-bottom: 10px;
}

.ligneButton{
    margin-top: 50px;
}

.listeEditionAdherent{
    margin-bottom: 50px;
}

.writeInfoAdherent{
    display: none;
}

.tabeLabel{
    text-align: center;
    font-size: 24px;
}

.adherent h2{
    text-align: center;
    font-size: 24px;
}

/*ESPACEPERSO*/
.blockButton{
    margin-bottom: 30px;
}

/*ADHERENTS*/
.listeAdherents th a{
    color: black;
}

.ligneTabClic{
    cursor: pointer;
}

.ligneTabClic:hover{
    font-weight: bold;
    background-color: #F4F5F5;
}

.delete{
    padding-left: 28px !important;
}

.delete i{
    color: red;
}
.btnDelete{
    background: none;
    border: none;
    padding: 0;
}

.btnDelete:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/*COURSES*/
.listeCourses{
    margin-bottom: 30px;
}

.listeCourses th a{
    color: black;
}

/*EDITIONS*/
.listeEditions{
    margin-bottom: 50px;
}

.listeEditions th a{
    color: black;
}

.course{
    margin-bottom: 50px;
}

.courseInfosBloc{
    border: 1px solid #E6E7E6;
    padding: 20px;
    border-radius: 10px;
}

.courseInfos p{
    margin: 0;
}

.listeEditionCourse{
    margin-bottom: 50px;
}

.writeInfoCourse{
    display: none;
}

.course h2{
    text-align: center;
    font-size: 24px;
}

.ligneButtonCourse{
    margin-top: 25px;
}