/*GENERAL*/

/*Nécessaire pour que le footer soit en bas de la page*/
* {-moz-box-sizing: border-box; box-sizing: border-box;}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 69px;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

body{
    margin-top: 200px;
}
h2
{
    color: white;
    text-align: center;

}
header{
    background-color:#343a40;
    padding:15px 0px 15px 0px;
    opacity: 0.75;
    position:fixed;
    left:0;
    right:0;
    top:0;

}

.img-fluid
{
    height:50px;
    -webkit-filter: invert(100%);

}

.align-right
{  
    float:right;
}

/*FOOTER*/
footer{
    width: 100%;
    background-color: #000;
    color : #fff;
    font-size: 16px;
    padding: 25px 0;
    text-align: center;
    position: absolute;
    bottom: 0; left: 0; right: 0 
}

footer p{
    margin: 0;
}

/*ADHERENT*/
.adherent{
    margin-bottom: 50px;
}
.adherentInfosBloc{
    border: 1px solid #E6E7E6;
    padding: 20px;
    border-radius: 10px;
}

.adherentInfos p{
    margin: 0;
}

.nomInfo{
    font-weight: bold;
}

.ligneInfo{
    margin-bottom: 10px;
}

.listeEditionAdherent{
    margin-bottom: 50px;
}

.listeEditions{
    margin-bottom: 50px;
}